<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @server.type %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @server.ip %>
</p>

<p>
  <strong>Region:</strong>
  <%= @server.region %>
</p>

<p>
  <strong>Server user:</strong>
  <%= @server.server_user %>
</p>

<p>
  <strong>Key:</strong>
  <%= @server.key %>
</p>

<p>
  <strong>Configpath:</strong>
  <%= @server.configPath %>
</p>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
